h1 {
  font-weight: 800
}

h2 {
  font-weight: 800;
}

.DisplayPost h2, .DisplayPost h1, .DisplayPost h3 {
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}

.DisplayPost h2, .DisplayPost h3 {
  font-size: large;
}

.DisplayPost p, .DisplayPost ol {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.DisplayPost li, .DisplayPost li > p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.DisplayPost img {
  width: 100%;
  height: auto;
}

.DisplayPost p code, .DisplayPost li > code {
  background-color: lightgray;
  font-size: large;
  border-radius: 3px;
  padding: .1em .2em;
}

.DisplayPost blockquote {
  padding-left: 1em;
  padding-top: 0.01%;
  padding-bottom: 0.01%;
  font-size: large;
  border-left: 2px solid black;
}

.DisplayPost pre[class*="language-"] {
  margin-bottom: 1.5em;
  font-size: 0.9em;
}

.DisplayPost .series-link {
  color: black;
  text-decoration: none;
  border-left: 2px solid black;
  display: block;
  margin-bottom: 1em;
  padding-left: 0.5em;
  font-size: small;
}

.DisplayPost .series-link:hover {
  font-weight: 800;
  color: black;
  border-left: 4px solid black;
  display: block;
  margin-bottom: 1em;
  padding-left: 0.5em;
}

.DisplayPost .series-current {
  font-size: small;
  padding-left: 0.5em;
  margin-left: 2px;
  margin-top: 1em;
}

.DisplayPost .series-heading {
  padding-left: 0.5em;
  margin-bottom: 1em;
}